---
---

@import "syntax/light-syntax";
@import "syntax/dark-syntax";

html:not([data-theme]),
html[data-theme="light"] {
  @include light-syntax;
}

html[data-theme="dark"] {
  @include dark-syntax;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]),
  html[data-theme="dark"] {
    @include dark-syntax;
  }

  html[data-theme="light"] {
    @include light-syntax;
  }
}

// 自定义样式
.code-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.25rem;
  background: var(--grey1);
}
.code-header::before {
  content: "";
  display: inline-block;
  margin-left: 1rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--grey5);
  box-shadow: 1.25rem 0 0 var(--grey5), 2.5rem 0 0 var(--grey5);
}
.fa-code:before {
  color: var(--grey5);
}
.code-header span::after {
  content: attr(label-text);
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--grey5);
}
.code-header button {
  border: 1px solid transparent;
  border-radius: 6px;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
  background-color: inherit;
}

.highlight {
  line-height: 1.25;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.highlight pre {
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
}
.highlight pre .lineno {
  min-width: 1.45rem;
}
.highlight table {
  border-left: none;
}
.highlight table td {
  padding: 1px;
  background-color: transparent;
  text-align: initial;
}
.highlight table .rouge-gutter {
  text-align: right;
}
.highlight table .rouge-code {
  padding-left: 6px;
}
